<ion-view>
    <ion-nav-bar class="bar bar-dark">
        <ion-nav-title>
            <h1 class="title">BLENDER</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <img src="../../../img/imgLogin.jpg" alt="login" class="full-image">
        <div class="padding">
            <form name="loginForm">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" name="user" required placeholder="user@globant.com" ng-model="user.user">
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="password" name="pass" required placeholder="Pasword" ng-model="user.password">
                    </label>
                </div>
                <button class="button button-assertive button-block" menu-close nav-clear ng-click="login.getUser(user)" ng-disabled="!loginForm.$valid">
                    ENTRAR
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
