<ion-view>
    <!-- <div class="bar bar-subheader" style="background: #444">
        <div > <img src="../../../img/ionic.png" alt="login"> </div>
        <h2 class="title">Profile user name </h2>
    </div> -->
    <ion-bar-profile margin-bottom="290">
        <Profile-content>
            <h3 class="text-center">{{settings.userLoged.name}}</h3>
        </Profile-content>
    </ion-bar-profile>
    <ion-content padding="true">
        <div class="row">
            <div class="col">
                Unlike the method above the content can be dynamic as the div will grow with what’s placed inside. The downside of this method is it doesn’t work in older versions of IE, though there is a fix, which is to add display: inline-block to the child element.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-positive button-block">
                    CONNECT WITH FACEBOOK
                </button>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col" ng-repeat="cat in settings.categories">
                <div class="item item-text-wrap" ui-sref="app.category.sport({'id':cat.link})">
                    {{cat.title}}
                </div>
                <div>Music</div>
            </div>
        
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-assertive button-block">
                    SAVE AND CONTINUE
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
