<ion-modal-view>
    <ion-content>
        <div class="padding">
            <h1 class="title">Add new Blend</h1>
        </div>
        <div class="">
            <div class="list list-inset">
                <div class="row">
                    <div class="col">
                        Title*
                        <label class="item item-input">
                            <input ng-model="a" type="text" placeholder="Title">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Date*
                        <label class="item item-input">
                            <input ng-model="a" type="text" placeholder="Title">
                        </label>
                    </div>
                    <div class="col">
                        Hour*
                        <label class="item item-input">
                            <input ng-model="a" type="text" placeholder="Title">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Blend type
                            </div>
                            <select name=type "" id="type" ng-model="a">
                                <option value="0" selected>sdsdsdsdsd</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Description*
                        <label class="item item-input">
                            <textarea name="" id="" cols="30" rows="4" ng-model="a"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        ¿Invited? (Max. 8)*
                        <label class="item item-input">
                            <input ng-model="a" type="number" placeholder="Title">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="padding">
                        <button class="button button-block button-assertive">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
