<div class="padding form-ad-new" style="position:relative;z-index: 10;">
    <h1 class="light">Add new</h1>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Writte just here">
        </label>
    </div>

    <button class="button button-assertive button-block" menu-close nav-clear>
        ADD
    </button>
</div>

  <!-- <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-modal-view> -->
