<ion-view>
    <ion-bar-profile margin-bottom="290">
        <Profile-content>
            <h3 class="text-center">{{profile.details.name}}</h3>
        </Profile-content>
    </ion-bar-profile>
    <ion-content padding="true">
        <p>{{profile.details.info}}</p>
        <div class="row">
            <div class="col text-center" ng-repeat="i in ['StarMeUp','Create New Blend','Common Interest']">
                <div class="item item-text-wrap">
                    <img src="" alt="img">
                </div>
                <div class="">{{i}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
