<ion-view>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-right" href="#">
                <img src="../../../img/ionic.png" alt="login" class="full-image">
                <h2>{{invited.blender.title}}</h2>
                <div class="user-info">
                    <p>{{invited.blender.name}}</p>
                    <p>
                        <i class="ion ion-clock"> {{invited.blender.date}} {{invited.blender.hour}}</i>
                    </p>
                    <p>
                        <i class="ion ion-location"> {{invited.blender.place}}</i>
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-chevron-right stable" side="center"></i>
                </div>
            </a>
        </div>
        <div class="details padding">
            <p>
                {{invited.blender.blendDescription}}
            </p>
        </div>
    </ion-content>
</ion-view>
