<ion-view>
    <ion-add-category add="category.throwModal()">
        <category-content>
            <ion-nav-view name="category">
            </ion-nav-view>
        </category-content>
    </ion-add-category>
</ion-view>
