<ion-content class="padding">
    <div>
        <p>The most populars</p>
        <ion-list class="checkbox-assertive">
            <ion-checkbox ng-model="filter.blue" class="item-checkbox-right" ng-repeat="list in category.list.content">{{list.name}}</ion-checkbox>
        </ion-list>
    </div>
</ion-content>