<div style="position: relative;top:44px;margin: 0 0 40px 0;" class="padding">
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search specific value">
        </label>
    </div>
    <button class=" button button-assertive button-block" ng-click="add()">
        <i class="ion ion-plus" side="right"></i> ADD NEW
    </button>
</div>
<!-- <ion-content class="padding" style="top: 200px">
</ion-content>
 -->
<div ng-transclude="content"></div>
<div style="position: absolute;bottom: 0px; width: 100%; background: #fff; z-index: 10" class="padding">
    <button class=" button button-assertive button-block" ng-click="save()">
        SAVE
    </button>
</div>
