<div style="top:44px;position: relative; border-bottom: solid 1px silver;padding-bottom: 0px">
    <div class="banner-profile" style="width: 100%;
     height:auto;position: relative; z-index: 2; background: #444">
        <div style="display: table;width: 100%; text-align: center; padding: 35px;">
            <div style="display: table-cell;vertical-align: middle; z-index: 3"> <img src="../../../img/ionic.png" alt="login">
            </div>
        </div>
        <div style="align-items:flex-end;background: #fff;
        bottom:0;display:flex;height:50%;position: absolute;width: 100%; z-index: -1; text-align: center;">
            <div class="title" style="width: 100%;position: relative;">
               <!--  <h3>Profile user name</h3> -->
               <div ng-transclude="title"></div>
            </div>
        </div>

    </div>
    <div ng-transclude="content">
       
    </div>
</div>
