<ion-view>
    <ion-bar-profile margin-bottom="390">
        <Profile-content>
            <div class="padding">
                <h3 class="text-center">{{ home.userLoged.name}}</h3>
                <button class=" button button-assertive button-block" ng-click="home.openModal()">
                    <i class="ion ion-plus"></i> CREATE NEW BLENDER
                </button>
            </div>
        </Profile-content>
    </ion-bar-profile>
    <ion-content class="padding has-subheader">
        <p>Blends today</p>
        <ion-list class="list" ng-repeat="blend in home.allBlends">
            <ion-item class="item-avatar" ng-click="home.selectBlend($index)">
                <img src="../../../img/ionic.png" alt="login" class="full-image">
                <h2>{{blend.title}}</h2>
                <div class="user-info">
                    <p>{{blend.userName}}</p>
                    <p>
                        <i class="ion ion-clock"> {{blend.date}} {{blend.hour}}</i>
                    </p>
                    <p>
                        <i class="ion ion-location"> {{blend.place}}</i>
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-chevron-right stable" side="center"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<!--  <div class="list" ng-repeat="blend in home.allBlends">
            <a class="item item-avatar item-icon-right" href="javascript:void(0)" ng-click="home.selectBlend($index)">
                <img src="../../../img/ionic.png" alt="login" class="full-image">
                <h2>{{blend.title}}</h2>
                <div class="user-info">
                    <p>{{blend.userName}}</p>
                    <p>
                        <i class="ion ion-clock"> {{blend.date}} {{blend.hour}}</i>
                    </p>
                    <p>
                        <i class="ion ion-location"> {{blend.place}}</i>
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-chevron-right stable" side="center"></i>
                </div>
            </a>
        </div> -->
