<ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu-content>
        <!-- Main content, usually <ion-nav-view> -->
        <!--<ion-header-bar class="bar bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <button class="button button-icon icon ion-navicon" menu-toggle="left">
            </button>
            <h1 class="title">BLENDER</h1>
        </ion-header-bar>-->
        <ion-nav-bar class="bar bar-dark">
            <ion-nav-back-button>
                {{backTitle.title}}
            </ion-nav-back-button>
            <ion-nav-buttons side="primary">
                <button class="button button-icon icon ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
                <button class="button button-icon icon ion-log-out" ng-click="layout.logOut()">
                </button>
            </ion-nav-buttons>
            <ion-nav-title>
                <h1 class="title">BLENDER</h1>
            </ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="mainContent">
        </ion-nav-view>
    </ion-side-menu-content>
    <!-- Right menu -->
    <ion-side-menu side="left">
        <ion-item menu-close href="#/app/home">
            <i class="icon ion-home"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/profile">
            <i class="icon ion-person"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/settings" ng-disabled="true">
            <i class="icon ion-settings"></i> Settings
        </ion-item>
        <!--   <ion-item menu-close href="#/login" ng-disabled="true">
            Login
        </ion-item>
        <ion-item menu-close href="#/app/settings" ng-disabled="true">
            Settings
        </ion-item>
        <ion-item menu-close href="#/app/category/music" ng-disabled="true">
            Categories
        </ion-item>
        <ion-item menu-close href="#/app/invited" ng-disabled="true">
            Invited
        </ion-item> -->
    </ion-side-menu>
</ion-side-menus>
